<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Vanessa's Swedish Learning Website</title>
    <script src="/jquery-3.7.1.js" defer></script>
    <script src="/bootstrap.min.js" defer></script>
    <script src="/controller.js" defer></script> }}
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-default web-nav" role="navigation">
        <div class="container-fluid">
          <ul class="nav__links nav navbar-nav">
            <li>
              <img src="/img/avatar.jpg" alt="avatar" class="nav__avatar" />
            </li>
            <li class="active">
              <a href="/home">Hem</a>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Ordförråd
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/words">Nouns (Substantiv)</a></li>
                <li><a href="#">Verbs (Verb)</a></li>
                <li><a href="#">Jasper Report</a></li>
                <li class="divider"></li>
                <li><a href="#">Adjectives (Adjektiv)</a></li>
                <li class="divider"></li>
                <li><a href="#">Pronouns (Pronomen)</a></li>
                <li><a href="#">Adverbs (Adverb)</a></li>
                <li><a href="#">Prepositions (Prepositioner)</a></li>
                <li>
                  <a href="#">Numbers (Nummer) & Week (Vecka) & Month (Månad)</a>
                </li>
                <li><a href="#">Common Phrases (Vanliga Fraser)</a></li>
              </ul>
            </li>
            <li><a href="#">Läsning</a></li>
            <!-- <li><a href="#">Grammatik</a></li> -->
            <!-- <li><a href="#">Lyssning</a></li> -->
            <li><a href="/about">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><button id="logoutButton" class="btn btn-danger btn-sm">Log Out</button></li>
          </ul>
        </div>
      </nav>

      <div class="header__title container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <h1 class="header__title__text">
              Ta dig i kragen för
              <br />helvete Vanessa!
            </h1>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <img
              src="/img/home_header.jpg"
              alt="home header"
              class="header__title__img img-responsive"
            />
          </div>
        </div>
      </div>
    </header>

    <main>
      <section id="section--1" class="panel">
        {{!-- pagination --}}
        <div class="home-pagination">
          <a
            href="/words?page={{#if (equal currentPage totalPages)}}1{{else}}{{add currentPage 1}}{{/if}}&limit={{limit}}"
            class="btn home-pagination__btn"
          >
              <span class="glyphicon glyphicon-refresh"></span>
          </a>
        </div>
        
        {{!-- words --}}
        <div class="container">
          <div class="row homepage-section1-row ">
            {{#each words}}
              <div class="col-1-of-6 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail feature-box">
                  <div class="feature-box__section--1">
                    <h3><b>{{word}}</b></h3>
                  </div>

                  <div class="feature-box__section--2">
                    <p><b>ORDKLASS: </b>{{word_class}}</p>
                  </div>

                  <div class="feature-box__section--3">
                    <div class="feature-box__section--3__example">
                      <p><b>1.&nbsp;</b><span>{{example_1}}</span></p>
                    </div>
                    <div class="feature-box__section--3__example">
                      <p><b>2.&nbsp;</b><span>{{example_2}}</span></p>
                    </div>

                    <div class="text-center">
                      <button
                        class="btn section--1__btn"
                        data-toggle="modal"
                        data-target="#detailModal-{{id}}"
                      >
                        <span class="glyphicon glyphicon-search"></span>
                        Läs mer
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div
                class="modal fade"
                id="detailModal-{{id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="detailModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="detailModalLabel">Detaljer om
                        "{{word}}"</h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3><b>{{word}}</b></h3>
                      <p>{{word_forms}}</p>
                      <hr />
                      <h4><b>Definition</b></h4>
                      <p>{{word_definition}}</p>
                      <br />
                      <h4><b>Examples</b></h4>
                      <p>1. {{example_1}}</p>
                      <p>{{example_1_translation}}</p>
                      <p>2. {{example_2}}</p>
                      <p>{{example_2_translation}}</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >Stäng</button>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
      </section>

      <section id="section--2">
        <div class="slider">

          <div class="slide container">
            <div class="slide__testimonial">
              <address class="slide__author">
                <img
                  src="/img/emil.png"
                  alt="slide 1 author"
                  class="slide__author__img1"
                />
                <p class="slide__author__name">Emil Kronholm</p>
              </address>
              <blockquote class="slide__text">
                Hårt arbete lönar sig alltid.
              </blockquote>
            </div>
          </div>

          <div class="slide container">
            <div class="slide__testimonial">
              <address class="slide__author">
                <img
                  src="./img/emil.png"
                  alt="slide 1 author"
                  class="slide__author__img1"
                />
                <p class="slide__author__name">Emil Kronholm 3</p>
              </address>
              <blockquote class="slide__text">
                2 Hårt arbete lönar sig alltid.
              </blockquote>
            </div>
          </div>

          <div class="slide container">
            <div class="slide__testimonial">
              <address class="slide__author">
                <img
                  src="./img/emil.png"
                  alt="slide 1 author"
                  class="slide__author__img1"
                />
                <p class="slide__author__name">Emil Kronholm 3</p>
              </address>
              <blockquote class="slide__text">
                3 Hårt arbete lönar sig alltid.
              </blockquote>
            </div>
          </div>

          <button
            class="slider__btn slider__btn--left glyphicon glyphicon-chevron-left"
          ></button>
          <button
            class="slider__btn slider__btn--right glyphicon glyphicon-chevron-right"
          ></button>
          <div class="dots"></div>
        </div>
      </section>
    </main>
  </body>
</html>