<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Vanessa's Swedish Learning Website</title>
    <script src="/jquery-3.7.1.js" defer></script>
    <script src="/bootstrap.min.js" defer></script>
    <script src="/controller.js" defer></script>
  </head>

  <body class="wordPage--body">
    <!--nav-->
    <header class="header">
      <nav class="navbar navbar-default web-nav" role="navigation">
        <div class="container-fluid">
          <ul class="nav__links nav navbar-nav">
            <li>
              <img src="./img/avatar.jpg" alt="avatar" class="nav__avatar" />
            </li>
            <li>
              <a href="/website">Hem</a>
            </li>
            <li class="active">
              <a class="dropdown-toggle" data-toggle="dropdown">Ordförråd
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="active">
                  <a href="/words">Nouns (Substantiv)</a>
                </li>
                <li><a href="#">Verbs (Verb)</a></li>
                <li><a href="#">Jasper Report</a></li>
                <li class="divider"></li>
                <li><a href="#">Adjectives (Adjektiv)</a></li>
                <li class="divider"></li>
                <li><a href="#">Pronouns (Pronomen)</a></li>
                <li><a href="#">Adverbs (Adverb)</a></li>
                <li><a href="#">Prepositions (Prepositioner)</a></li>
                <li>
                  <a href="#">Numbers (Nummer) & Week (Vecka) & Month (Månad)</a>
                </li>
                <li><a href="#">Common Phrases (Vanliga Fraser)</a></li>
              </ul>
            </li>
            <li><a href="#">Grammatik</a></li>
            <li><a href="#">Läsning</a></li>
            <li><a href="#">Lyssning</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/about">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Button trigger modal -->
    <div class="text-right wordPage--nouns--add">
      <button
        class="btn btn-xs btn-primary"
        data-toggle="modal"
        data-target="#myModal"
      >
        add
      </button>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">Add word</h4>
          </div>

          <div class="modal-body">
            <form class="form-horizontal" id="addWordForm" role="form">
              <div class="form-group">
                <label for="engelska" class="col-md-2">Engelska</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="engelska" />
                </div>
              </div>
            </form>

            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="indefinite--singular" class="col-md-2">Indefinite
                  Singular</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    id="indefinite--singular"
                  />
                </div>
              </div>
            </form>

            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="definite--singular" class="col-md-2">Definite
                  Singular</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    id="definite--singular"
                  />
                </div>
              </div>
            </form>

            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="indefinite--plural" class="col-md-2">Indefinite
                  Plural</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    id="indefinite--plural"
                  />
                </div>
              </div>
            </form>

            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="definite--plural" class="col-md-2">Definite Plural</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    id="definite--plural"
                  />
                </div>
              </div>
            </form>

            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="example" class="col-md-2">Example</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="example" />
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              id="addWordButton"
            >
              ADD
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal -->
    </div>

    <!--vocabulary table-->
    <div class="container">
      <h2 class="text-center wordPage--nouns">Nouns(Substantiv)</h2>

      <!-- search bar -->
      <div class="row wordPage--nouns--searchbar">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="searchWord"
              placeholder="search words..."
            />
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">搜索</button>
            </span>
          </div>
        </div>
      </div>

      <!-- table nouns -->
      <table class="table table-hover table-responsive wordPage--nouns--table">
        <thead>
          <tr>
            <th>Engelska</th>
            <th>Indefinite Singular</th>
            <th>Definite Singular</th>
            <th>Indefinite Plural</th>
            <th>Definite Plural</th>
            <th>Example</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each words}}
            <!-- 循环渲染每一行的单词 -->
            <tr>
              <td>{{this.english}}</td>
              <td>{{this.indefiniteSingular}}</td>
              <td>{{this.definiteSingular}}</td>
              <td>{{this.indefinitePlural}}</td>
              <td>{{this.definitePlural}}</td>
              <td>{{this.example}}</td>
              <td>
                {{#if this.is_custom}}
                  <!-- 只为手动添加的单词显示删除按钮 -->
                  <button
                    class="btn btn-danger btn-sm delete-word"
                    data-id="{{this.id}}"
                  >Delete</button>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>